#logo {
    height: 92;
    width: 272;
    padding-top: 109px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#lga {
    height: 233px;
    margin-top: 89px;
    text-align: -webkit-center; 
}

/* .footer {
    color: rgb(34,34,34);
    display: block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    margin-left: -27px;
    min-width: 600px;
    max-width: 2000px;
    font-size: small;
} */

.submitButtons {
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    color: rgb(95,99,104);
    cursor: pointer;
    margin: 11px 4px;
    padding: 0px 16px;
    text-align: center;
    border-color: rgb(242,242,242);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    min-width: 127px;
    max-width: 406px;
}

.searchBar {
    background-color: transparent;
    /* color: rgba(0,0,0,0.87); */
    border-width: 0px;
    /* border-color: rgba(0,0,0,0.87); */
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    font-family: arial, sans-serif;
    cursor: text;
    margin: -37px 0 0 0;
    padding: 0;
    word-wrap: break-word;
    border: none;
}

#footerR{
    color: rgb(34,34,34);
    margin-right: 30px;
    line-height: 40px;
    font-size: 13px;
    white-space: nowrap;
}