#logo {
    padding-top:109px;
    height: 92;
    width: 272;
}

#lga{
    height: 233px;
    margin-top: 89px;
    text-align: -webkit-center;
}

/* #searchForm {
    position: absolute;
    top: 311px;
    min-width: 980px;
    width: 100%;
    z-index: 103;
}

#innerForm {
    position: relative;
    margin: 0 auto;
    padding-left: 12px;
    padding-top: 6px;
    width: 484px;
} */

/* .footer {
    color: rgb(34,34,34);
    display: block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    margin-left: -27px;
    min-width: 600px;
    max-width: 2000px;
    font-size: small;
} */

.buttonRegion {
    height: 70px;
    padding-top: 18px;
    width: 487px;
    z-index: 0;
}

.searchButton {
    height: 36px;
    line-height: 27px;
    font-size: 14px;
    font-family: arial, sans-serif;
    background-color: rgb(242,242,242);
    border-radius: 4px;
    border: 1px solid rgb(242,242,242);
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    display: inline-block;
    color: rgb(95,99,104);
    cursor: pointer;
}